<div class="d-flex justify-content-end menu-list">
    <div class="d-inline-flex p-2 bd-highlight">
        <div class="btn-group d-none d-sm-inline" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="gridView=true">
                <mat-icon>
                    apps
                </mat-icon>
            </button>
            <button type="button" class="btn btn-primary" (click)="gridView=false">
                <mat-icon>
                    view_list
                </mat-icon>
            </button>
        </div>

        <div class="btn-group" dropdown>
            <button dropdownToggle type="button" class="btn btn-primary dropdown-toggle">
              Filter <span class="caret"></span>
            </button>
            <ul *dropdownMenu class="dropdown-menu" role="menu">
              <li role="menuitem"><a class="dropdown-item" href="#">Action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Another action</a></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Something else here</a></li>
              <li class="divider dropdown-divider"></li>
              <li role="menuitem"><a class="dropdown-item" href="#">Separated link</a>
              </li>
            </ul>
        </div>
        <!-- <div class="d-inline-block" ngbDropdown #myDrop="ngbDropdown">
            <button class="btn btn-outline-primary mr-2" id="dropdownManual" ngbDropdownAnchor (focus)="myDrop.open()">Toggle dropdown</button>
            <div ngbDropdownMenu aria-labelledby="dropdownManual">
              <button ngbDropdownItem>Action - 1</button>
              <button ngbDropdownItem>Another Action</button>
              <button ngbDropdownItem>Something else is here</button>
            </div>
        </div> -->
    </div>
</div>

<div class="row mt-5">
    <div [ngClass]=" gridView ? 'col-12 col-sm-6 col-md-4 col-lg-3 mt-3' : 'col-12 col-sm-6 col-md-4 offset-md-1 col-lg-3 offset-lg-2 mt-3' " *ngFor="let product of products">
        <div class="card">
            <img [src]="product.image" class="card-img-top" [alt]="product.description" height="300" width="300">
            <div class="card-body">
                <p class="truncate" [title]="product.title">{{ product.title }}</p>
                
                <h2>{{ product.price | currency:"INR" }}</h2>
            </div>
        </div>
    </div>
</div>