<div class="d-flex justify-content-end menu-list">
    <div class="d-inline-flex p-2 mt-5 mt-sm-0">
        <div class="btn-group d-none d-sm-inline pr-2 pt-1" role="group" aria-label="Basic example">
            <button type="button" class="btn btn-primary" (click)="gridView=true">
                <mat-icon>
                    apps
                </mat-icon>
            </button>
            <button type="button" class="btn btn-primary" (click)="gridView=false">
                <mat-icon>
                    view_list
                </mat-icon>
            </button>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>Price Filter</mat-label>
            <mat-select [(value)]="defaultOption">
              <mat-option 
                *ngFor="let price of pricelist" 
                [value]="price.value" 
                (onSelectionChange)="filterList($event)"
            >
                {{price.value}}
              </mat-option>
            </mat-select>
        </mat-form-field>
          
    </div>
</div>

<div class="d-flex flex-row justify-content-center mt-5" *ngIf="isLoading">
    <div class="row">
        <div class="col-12">
            <mat-spinner></mat-spinner>
        </div>
        <div class="col-12 mt-3">
            <p>Please wait...</p>
        </div>
    </div>
</div>

<div class="row mt-5" *ngIf="!isLoading">
    <div 
        [ngClass]=" gridView ? 'col-10 offset-1 col-sm-6 offset-sm-0 col-md-4 col-lg-3 mt-3' : 'col-10 offset-1 col-sm-6 offset-sm-0 col-md-4 offset-md-1 col-lg-3 offset-lg-2 mt-3' " 
        *ngFor="let product of filteredProducts"
    >
        <div class="card" appHighlighter>
            <img [src]="product.image" class="card-img-top" [alt]="product.description" height="300" width="300">
            <div class="card-body">
                <p class="truncate" [title]="product.title">{{ product.title }}</p>
                
                <h2>{{ product.price | currency:"INR" }}</h2>
            </div>
        </div>
    </div>
</div>