<nav class="navbar navbar-dark bg-dark fixed-top ">
  <div class="container-fluid">
    <div class="row">
      <div class="col-md-12">
        <a class="navbar-brand" routerLinkActive="active" routerLink="/floating-banner">
          Banner
        </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/e-commerse">
          e-Commerse
        </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/counter">
          Counter
        </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/counter-service">
          Counter Service
        </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/dynamic-data">
          Dynamic Div
        </a>
        <a class="navbar-brand" routerLinkActive="active" routerLink="/dynamic-data/table">
          Dynamic Table
        </a>
      </div>
    </div>
  </div>
</nav>

<!-- <nav class="side-menu">

</nav> -->
<main>
  <router-outlet></router-outlet>
</main>

